<template>
  <div class="demo-map">
    <svg ref="my-map" />
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'
  import * as d3 from 'd3'

  export default defineComponent({
    name: 'HelloWorld',

    mounted() {
      console.log('I got a mounted yay', d3)
    },
  })
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
